<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin.table.mapper.DinnerTableMapper">
    <resultMap id="BaseResultMap" type="admin.table.dto.DinnerTable">
        <result column="ID" property="id" jdbcType="DECIMAL" />
        <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
        <result column="TABLE_DESCRIPTION" property="tableDescription" jdbcType="VARCHAR" />
        <result column="TABLE_STATUS" property="tableStatus" jdbcType="VARCHAR"/>
        <result column="USED" property="used" jdbcType="VARCHAR" />
    </resultMap>


</mapper>