<#include "./include/header.html">
<body>
    <link href="${base.contextPath}/lib/dashboard/sDashboard.css" rel="stylesheet">
    <script src="${base.contextPath}/lib/jquery-ui/jquery-ui.js" type="text/javascript"></script>
    <script src="${base.contextPath}/lib/dashboard/jquery-sDashboard.js" type="text/javascript"></script>
    <div id="page-content">
        <p style="padding:5px;background-color:#f9fafc">欢迎使用!</p>
    </div>

    <style>
        .show-img{
            margin-top: 20px;
            float: inherit;
            text-align: center;
            width:80%;
        }
    </style>
    <div class="row">
        <img class="show-img"  src="${base.contextPath}/resources/upload/home.png" />
    </div>
    <div style="position:absolute;right:10px;bottom:10px;z-index:999;size: 9px">字体版权所属 <a href="http://www.qt86.com/">www.qt86.com</a></div>

</body>