<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
  ~ #{copyright}#
  -->
<mapper namespace="admin.food.mapper.FoodDishesMapper">
    <resultMap id="baseResult" type="admin.food.dto.FoodDishes">
        <id property="id" column="ID"/>
        <result property="foodName" column="FOOD_NAME"/>
        <result property="foodPicture" column="FOOD_PICTURE"/>
        <result property="foodDescription" column="FOOD_DESCRIPTION"/>
        <result property="cuisineId" column="CUISINE_ID"/>
        <result property="used" column="USED"/>
        <result property="foodPrice" column="FOOD_PRICE"/>
        <result property="foodSpecialPrice" column="FOOD_SPECIAL_PRICE"/>
        <result property="usedSpecial" column="USED_SPECIAL"/>
        <result property="objectVersionNumber" column="OBJECT_VERSION_NUMBER"/>
    </resultMap>

    <select id="selectFoodDishesInThisCuisine" resultMap="baseResult">
        SELECT
            ID,
            FOOD_NAME,
            FOOD_PICTURE,
            FOOD_DESCRIPTION,
            USED,
            CUISINE_ID,
            OBJECT_VERSION_NUMBER
        FROM
            FOOD_DISHES
        WHERE
            CUISINE_ID = #{id}
    </select>

    <select id="selectDishesByConditions" resultMap="baseResult">
        SELECT
            ID,
            FOOD_NAME,
            FOOD_PICTURE,
            FOOD_DESCRIPTION,
            USED,
            CUISINE_ID,
            OBJECT_VERSION_NUMBER
        FROM
            FOOD_DISHES
        WHERE
            1=1
        <if test="cuisineId!=null">
            AND CUISINE_ID = #{cuisineId}
        </if>
        <if test="typeId!=null">
            AND ID IN (
                SELECT
                DISHES_ID
                FROM
                food_dishes_type
                WHERE
                TYPE_ID = #{typeId}
            )
        </if>
        <if test="foodName!=null">
            AND FOOD_NAME = #{foodName}
        </if>
    </select>
</mapper>