<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
  ~ #{copyright}#
  -->
<mapper namespace="admin.food.mapper.FoodTypeMapper">
    <resultMap id="baseResult" type="admin.food.dto.FoodType">
        <id property="id" column="ID"/>
        <result property="typeName" column="TYPE_NAME"/>
        <result property="typeDescription" column="CUISINE_DESCRIPTION"/>
        <result property="used" column="USED"/>
        <result property="objectVersionNumber" column="OBJECT_VERSION_NUMBER"/>
    </resultMap>

    <select id="getUsedTypes" resultMap="baseResult">
        SELECT
            ID,
            TYPE_NAME,
            TYPE_DESCRIPTION,
            USED,
            OBJECT_VERSION_NUMBER
        FROM
            FOOD_TYPE
        WHERE
            USED = 'Y'
        ORDER BY
            `TYPE_NAME`
    </select>
</mapper>