<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin.food.mapper.FoodTypeMapper">
    <resultMap id="BaseResultMap" type="admin.food.dto.FoodType">
        <result column="id" property="id" jdbcType="DECIMAL" />
        <result column="type_name" property="typeName" jdbcType="VARCHAR" />
        <result column="type_description" property="typeDescription" jdbcType="VARCHAR" />
        <result column="used" property="used" jdbcType="VARCHAR" />
    </resultMap>


</mapper>